.camera{
    position:fixed;
    right:50px;
    bottom:100px;
}

#tutorial{
    display: none;
    position: fixed;
    top:100px;
    left:5px;
    z-index: 1;
    background-color: #fff;
}

.am-modal-hd .am-close {
    font-size: 36px;
    top: 8px;
    right: 8px;
    color: white;
    font-weight: 100;
    opacity: 1;
}

.am-modal-no-btn .am-modal-dialog {
    border-radius: 5px;
}
.am-modal-hd {
    padding: 10px;
    background: #f54d23;
    border-radius: 5px 5px 0 0;
    color: white;
    font-size: 1.6rem;
}
.fq-background-white {
    background-color: #FFF;
}

.popwbg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.8;
}

.fq-explain {
    margin-top: -28px;
    right: 16%;
    left: 16%;
}


/************图片分享****************/
.nb-sharecanvas {
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.9);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.nb-sharecanvas .nb-canvas {
    width: 70%;
    max-width: 640px;
    position: relative;
    top: 0;
}
.icon-close {
    background: white;
    color: #555;
    position: absolute;
    right: -30px;
    top: -15px;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: url(../images/icon.png) no-repeat;
    background-position: -180px -31px;
}

.nb-canvas-explain {
    border-radius: 5px;
    background: #555;
    text-align: center;
    padding: 5px;
}

.nb-canvas .imgData {
    width: 100%;
    display: none;
}















.footer{
    position: fixed;
    left:0;
    bottom:0;
    display: flex;
    width: 100%;
    height: 40px;
}
.footer a {
    position: relative;
    display: block;
    -webkit-box-flex: 1;
    flex: 1;
    line-height: 40px;
    text-align: center;
    color: #666;
    background-color: #eee;
    text-decoration: none;
}