body {
    font-family: "Microsoft YaHei","Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    font-size: 14px;
    background: #ececec;
    color: #666;
    height: 100%;
}

.main {
    background: none repeat scroll 0 0 rgba(236, 236, 236, 1);
    margin: 0 auto;
    max-width: 640px;
    min-width: 320px;
    position: relative;
    width: 100%;
}

.allpreContainer {
    width: 100%;
    max-width: 750px;
    height: auto;
}

.anim_fade_image {
    -webkit-animation-name: fadeInOut;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: 1s;
    -webkit-animation-direction: alternate;
    animation-iteration-count: 1;
}

.goodsopenview {
    position: relative;
    background: #fff;
}

#title{
    margin-top: 10px;
    font-size: 16px;
    height: 40px;
    color: #444;
    font-weight: bold;
    line-height: 20px;
    overflow: hidden;
}




/************淘口令弹窗****************/
.am-modal-hd .am-close {
    font-size: 36px;
    top: 8px;
    right: 8px;
    color: white;
    font-weight: 100;
    opacity: 1;
}

.am-modal-no-btn .am-modal-dialog {
    border-radius: 5px;
}
.am-modal-hd {
    padding: 10px;
    background: #f54d23;
    border-radius: 5px 5px 0 0;
    color: white;
    font-size: 1.6rem;
}
.fq-background-white {
    background-color: #FFF;
}

.popwbg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.8;
}

.fq-explain {
    margin-top: -28px;
    right: 16%;
    left: 16%;
}


/************图片分享****************/
.nb-sharecanvas {
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.9);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.nb-sharecanvas .nb-canvas {
    width: 70%;
    max-width: 640px;
    position: relative;
    top: 0;
}
.icon-close {
    background: white;
    color: #555;
    position: absolute;
    right: -30px;
    top: -15px;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: url(../images/icon.png) no-repeat;
    background-position: -180px -31px;
}

.nb-canvas-explain {
    border-radius: 5px;
    background: #555;
    text-align: center;
    padding: 5px;
}

.nb-canvas .imgData {
    width: 100%;
    display: none;
}


/************回到顶部****************/
.go-top {
    display: block;
    width: 42px;
    height: 42px;
    position: fixed;
    right: 20px;
    bottom: 64px;
    z-index: 10000;
    background-image: url('../images/go_top.png');
    background-size: contain;
    opacity: 0;
    -webkit-transition: bottom .8s ease, opacity .6s ease;
}
.top-button-show {
    bottom: 64px;
    opacity: 1;
}
.top-button-hide {
    bottom: -64px;
    opacity: 0;
}
.go-top span {
    position: absolute;
    bottom: 9px;
    width: 100%;
    display: block;
    height: 12px;
    line-height: 12px;
    text-align: center;
    font-size: 12px;
    color: #333;
}

/************底部菜单****************/
.nbmenu {
    position: fixed;
    width: 100%;
    max-width: 640px;
    height: 50px;
    line-height: 50px;
    display: -webkit-box;
    z-index: 10000;
    background: #FAFAFA;
    color: #ffffff;
    font-size: 12px;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
}

.nb-btn1 {
    bottom: 0;
    left: 0;
    color: #666;
    text-align: center;
}

.nbnav {
    position: absolute;
    z-index: 10001;
    width: 20%;
    float: left;
}
.nb-btn2 {
    bottom: 0;
    left: 18%;
    color: #666;
    text-align: center;
}
.nb-btn3 {
    bottom: 0;
    left: 40%;
    background: #FB874E;
    text-align: center;
}
.nbnav2 {
    position: absolute;
    z-index: 10001;
    width: 30%;
    float: left;
}
.nb-btn4 {
    bottom: 0;
    left: 70%;
    background: #f54d23;
    text-align: center;
}


/************商品详情****************/
.goodsshow {
    margin-top: 15px;
    background: #fff;
    margin-bottom: 50px;
    width: 100%;
    max-width: 750px;
}

.goodsshow .seemore {
    display: block;
    height: 40px;
    color: #444;
    line-height: 40px;
    font-size: 14px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    background: url(../images/icon_ab.png) no-repeat 95% center/10px;
    border-bottom: 1px solid #f0f0f0;
}

.jump {
    float: left;
    position: relative;
    -webkit-animation: jump 1s linear 0s;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    animation-iteration-count: 2;
}

@-webkit-keyframes jump
{
    0%{
        top:0px;
        color:red;
    }
    50%{
        top:-2px;
        color:green;
    }
    100%{
        top:2px;
        color:blue;
    }
}

.goodsdetail {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 16px;
    max-width: 750px;
}
.goodsdetail p {
    margin-top: 15px;
}

/**本栏目更多精品**/
.item-recommend {
    height: 100%;
    margin: 3% auto;
    clear: both;
    background: #fff;
    padding-bottom: 3%;
    border-top: #e5e5e5 solid 1px;
    border-bottom: #e5e5e5 solid 1px;
}


.clear {
    zoom: 1;
    clear: both;
}

.clear:after, .clear:before {
    content: "";
    display: table;
}

.clear:after {
    clear: both;
    overflow: hidden;
}

.goodsshow .seemore {
    display: block;
    height: 40px;
    color: #444;
    line-height: 40px;
    font-size: 14px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    background: url(../images/icon_ab.png) no-repeat 95% center/10px;
    border-bottom: 1px solid #f0f0f0;
}

.seemore a{
    color:#fff;
    text-decoration:none;
}

.seemore a:hover{
    color:#fff;
    text-decoration:none;
}

.goods-list-nb {
    width: 100%;
}

ul, li {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    list-style: none;
}

.goods-list-nb li {
    float: left;
    width: 47%;
    position: relative;
    margin: 2% 0 0 2%;
    background: rgba(255, 255, 255, 1);
}

.goods-list-nb .goods-a {
    display: block;
    position: relative;
}


.goods-list-nb li img {
    width: 100%;
    position: relative;
    display: inherit;
}

.lingquan {
    width: 60px;
    height: 30px;
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 1px;
    text-align: center;
}

.lingquan a span {
    width: 60px;
    height: 20px;
    font-size: 12px;
    display: block;
    background: #f9117e;
    color: #fff;
    overflow: hidden;
    line-height: 20px;
}

.goods-list-nb li h3 {
    width: 100%;
    font-size: 12px;
    font-family: "Microsoft YaHei","黑体-简";
    font-weight: 300;
    color: #808080;
    height: 36px;
    line-height: 36px;
    background: rgba(255, 255, 255, 0.8);
    overflow: hidden;
    text-indent: 5px;
}

.list-price {
    width: 96%;
    height: 26px;
    line-height: 18px;
    position: relative;
    bottom: 0;
    margin: 0 2%;
}

.buy .price-new {
    color: #f8285c;
}