body {
    font-family: "Microsoft YaHei","Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    font-size: 14px;
    background:#ececec;
    color:#666;
    height:100%;
}

.main {
    background: none repeat scroll 0 0 rgba(236, 236, 236, 1);
    margin: 0 auto;
    max-width: 640px;
    min-width: 320px;
    position: relative;
    width: 100%;
}